.App {
  text-align: center;
  background-image: "client/src/assets/background.jpg";
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110vh;
  color: #ffffff;
  /* colo */
  background-color: #ddd5d5;
}

.signup-form {
  width: 350px;
  padding: 20px;
  background-color: #282c34;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(128, 39, 39, 0.3);
}

.signup-form h1 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
}

.signup-form h2 {
  text-align: center;
  font-size: 12px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.signup-form h2:hover {
  text-align: center;
  font-size: 16px;
  margin-bottom: 20px;
  margin-top: 20px;
  color: #ff0000;
}

.signup-form label {
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
}

.signup-form input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  color: #343028;
}

.signup-form button[type="submit"] {
  background-color: #892020;
  color: #fff;
  font-size: 16px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.signup-form button[type="submit"]:hover {
  background-color: #ff0000;
}

.Toastify__toast--success {
  /* border: 1px solid #3a9ea5 !important; */
  border-radius: 50px !important;
  background: #6bff7a !important;
  font-weight: bolder;
}

.Toastify__toast--error {
  border-radius: 50px !important;
  background: #fb9b9b !important;
  color: black;
  font-size: larger;
  font-weight: bolder;
}

.page-switcher {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.page-count {
  margin: 0 10px;
  font-size: 14px;
  color: #777;
}

.page-switcher-btn {
  padding: 8px 16px;
  font-size: 14px;
  color: #fff;
  background-color: #0077cc;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s ease-in-out;
}

.page-switcher-btn:hover {
  background-color: #005ea2;
}

.page-switcher-btn:disabled {
  background-color: #d5d5d5;
  cursor: default;
}
