.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110vh;
  color: #ffffff;
  /* colo */
  background-color: #ddd5d5;
}

.signup-form {
  width: 350px;
  padding: 20px;
  background-color: #282c34;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(128, 39, 39, 0.3);
}

.signup-form h1 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
}

.signup-form h2 {
  text-align: center;
  font-size: 12px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.signup-form h2:hover {
  text-align: center;
  font-size: 16px;
  margin-bottom: 20px;
  margin-top: 20px;
  color: #ff0000;
}

.signup-form label {
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
}

.signup-form input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  color: #343028;
}

.signup-form button[type="submit"] {
  background-color: #892020;
  color: #fff;
  font-size: 16px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.signup-form button[type="submit"]:hover {
  background-color: #ff0000;
}
